Pandas is open source Python Library used for data manipulation and data analysis
Data Structures of Pandas: To store data and handle efficiently
1.Series : 1D Array to hold data of any data types
2.DataFrames: 2D array to hold data (in the format of rows and columns or tables)

In [2]:
import pandas as pd 
import numpy as np

In [ ]:
#Passing a list of value as a parameter
s=pd.Series([1,2,3,0,np.nan,'a'])
s
# Creating a series from numpy array and indexing using Range Index
indices=(pd.RangeIndex(1,25,3))
AP=pd.Series(np.array([10,20,30,40,50,60,70,80]),index=indices)
# Creating a series from range --> automatically gives data type int64
s1=pd.Series(range(0,10,2))
# print(AP, '\n',  s1, '\n',  s )
print(f"Arthimetic indexing is: \n{AP}\nSeries (s1) is \n{s1}\nSeries(s) is \n{s}")

Arthimetic indexing is:
1     10
4     20
7     30
10    40
13    50
16    60
19    70
22    80
dtype: int32
Series (s1) is
0    0
1    2
2    4
3    6
4    8
dtype: int64
Series(s) is
0      1
1      2
2      3
3      0
4    NaN
5      a
dtype: object

In [20]:
# Creating a series from dictionary Keys becomes indices and values become series
data=pd.Series({'a':1,'b':2,'c':3})
data

# Create a series with all values same
data=pd.Series(100,index=pd.RangeIndex(3))
data

0    100
1    100
2    100
dtype: int64

DataFrames: 2D,Rows and columns 
Can be think as dict-like container for series objects
Syntax: pd.dataframe(data='',index='',columns='')

In [22]:
# Create a DataFrame from the dictionary
d = {'a':[1,2,3],'b':[4,5,6]}
df = pd.DataFrame(data=d)
df

   a  b
0  1  4
1  2  5
2  3  6

In [29]:
# Create a DataFrame from the numpy
df = pd.DataFrame(data = np.array([[1,2,3],[4,5,6],[7,8,9],[10,20,30]]),columns = pd.Series(['a','b','c']),index=pd.RangeIndex(1,5,1))
df

    a   b   c
1   1   2   3
2   4   5   6
3   7   8   9
4  10  20  30

In [41]:
# create a dataframe with dates
dates = pd.date_range('2025-01-01',periods=90)
dates_df = pd.DataFrame(data=(np.random.randn(90,2)),index=dates,columns=['a','b'])
dates_df.index.name = 'dates' #Naming the index column
dates_df.reset_index() #Naming the index column as a header similar to other columns
dates_df

                   a         b
dates
2025-01-01  1.034400 -1.136021
2025-01-02 -0.122303 -0.549502
2025-01-03 -2.055847 -1.301493
2025-01-04 -2.250541 -1.491918
2025-01-05  0.220282 -0.224843
...              ...       ...
2025-03-27  0.906990 -0.498649
2025-03-28  1.898532 -0.965716
2025-03-29  1.411456  0.865374
2025-03-30  0.790863  0.077535
2025-03-31  0.200199  0.260483

[90 rows x 2 columns]

In [ ]:
# Data types of a columns and dataframes
dates_df.reset_index().dtypes

dates    datetime64[ns]
a               float64
b               float64
dtype: object

In [46]:
print(dates_df.head())
print(dates_df.tail())

                   a         b
dates
2025-01-01  1.034400 -1.136021
2025-01-02 -0.122303 -0.549502
2025-01-03 -2.055847 -1.301493
2025-01-04 -2.250541 -1.491918
2025-01-05  0.220282 -0.224843
                   a         b
dates
2025-03-27  0.906990 -0.498649
2025-03-28  1.898532 -0.965716
2025-03-29  1.411456  0.865374
2025-03-30  0.790863  0.077535
2025-03-31  0.200199  0.260483

In [ ]:
dates_df.shape # returns (number of rows, number of columns)
dates_df.shape[0] #returns just number of rows

90

In [ ]:
dates_df.ndim # returns number of axes in the data for dataframe it is always 2

2

In [ ]:
dates_df.columns # returns column names of the data
dates_df.index #returns indices of the data

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
               '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05',
               '2025-02-06', '2025-02-07', '2025-02-08', '2025-02-09',
               '2025-02-10', '2025-02-11', '2025-02-12', '2025-02-13',
               '2025-02-14', '2025-02-15', '2025-02-16', '2025-02-17',
               '2025-02-18', '2025-02-19', '2025-02-20', '2025-02-21',
               '2025-02-22', '2025-02-23', '2025-02-24', '2025-02-25',
               '2025-02-26', '2025-02-27', '2025-02-28', '2025-03-01',
               '2025-03-02', '2025-03-03', '2025-03-04', '2025-03-05',
               '2025-03-06', '2025-03-07', '2025-03-08', '2025-03-09',
               '2025-03-10', '2025-03-11', '2025-03-12', '2025-03-13',
               '2025-03-14', '2025-03-15', '2025-03-16', '2025-03-17',
               '2025-03-18', '2025-03-19', '2025-03-20', '2025-03-21',
               '2025-03-22', '2025-03-23', '2025-03-24', '2025-03-25',
               '2025-03-26', '2025-03-27', '2025-03-28', '2025-03-29',
               '2025-03-30', '2025-03-31'],
              dtype='datetime64[ns]', name='dates', freq='D')