Series Operations
1. Accessing the elements in series
2. Arthimetic Operations
3. Applying Functions(Data Manipulation)
4. Filtering elements
5. Sorting & Filtering elements in a series
6. Checking for null values
7. Statistical Operations
8. String Operations
9. Checking Uniqueness
10. Merging two series

In [1]:
import pandas as pd 
import numpy as np

In [7]:
#indices = np.arange(0,10)
import string
indices = np.array(list(string.ascii_lowercase)[:10])
data = np.random.random(10)
series = pd.Series(data= data,index=indices)
series

a    0.492530
b    0.490575
c    0.776782
d    0.175584
e    0.997778
f    0.480351
g    0.471599
h    0.319162
i    0.596660
j    0.466993
dtype: float64

In [13]:
# Accessing elements by label-based(index) and position-based
print(series['a'],series.loc['a'])  #label-based
print(series.iloc[6],series.iloc[0]) #access the element at position 6

0.49252969064296137 0.49252969064296137
0.471598613991274 0.49252969064296137

In [ ]:
# Accessing elements a certain part of series --> Slicing & Filtering
print(series[series>0.5]) # filtering
print(series[:4]) # first four elements of series
print (series[-1:]) #Last element of array
print(series[:-2]) # except last 2 elements
print(series[-4:]) #Last 4 elements of series

c    0.776782
e    0.997778
i    0.596660
dtype: float64
a    0.492530
b    0.490575
c    0.776782
d    0.175584
dtype: float64
j    0.466993
dtype: float64
a    0.492530
b    0.490575
c    0.776782
d    0.175584
e    0.997778
f    0.480351
g    0.471599
h    0.319162
dtype: float64
g    0.471599
h    0.319162
i    0.596660
j    0.466993
dtype: float64

In [31]:
# Arthimetic Operations (+,-,*,/) ---> works element-wise
series1 = pd.Series([1,2,3])
series2 = pd.Series([4,5,6])
print(series1+series2)
print(series1-series2)
print(series1* series2)
print(series1/series2)

0    5
1    7
2    9
dtype: int64
0   -3
1   -3
2   -3
dtype: int64
0     4
1    10
2    18
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64

In [32]:
print(series1.add(series2))
print(series1.multiply(series2))
print(series1.subtract(series2))
print(series1.divide(series2))

0    5
1    7
2    9
dtype: int64
0     4
1    10
2    18
dtype: int64
0   -3
1   -3
2   -3
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64

In [49]:
# Statistical Operations
print("Maximum Element in series:",series1.max(),sep='')
print("Minimum element in series:",series.min(),sep='')
print("Average of elements in the series:",series.mean(),sep='')
print("Median of elements in the series:",series.median(),sep='')
print("Mode of elements in the series:\n",series.mode(),sep='')
print("Standard deviation of elements in the series:",series.std(),sep='')
print("Summary of the elements in the series:",series.describe(),sep='\n')

Maximum Element in series:3
Minimum element in series:0.17558364909320334
Average of elements in the series:0.5268014030541934
Median of elements in the series:0.4854632160577292
Mode of elements in the series:
0    0.175584
1    0.319162
2    0.466993
3    0.471599
4    0.480351
5    0.490575
6    0.492530
7    0.596660
8    0.776782
9    0.997778
dtype: float64
Standard deviation of elements in the series:0.22777346983562027
Summary of the elements in the series:
count    10.000000
mean      0.526801
std       0.227773
min       0.175584
25%       0.468144
50%       0.485463
75%       0.570627
max       0.997778
dtype: float64

In [51]:
# Sorting the series
print(series.sort_values(ascending=False))

e    0.997778
c    0.776782
i    0.596660
a    0.492530
b    0.490575
f    0.480351
g    0.471599
j    0.466993
h    0.319162
d    0.175584
dtype: float64

In [ ]:
# Data Manipulation
print(series2.map(lambda x: x**2)) #Applicable only to series, apply--> applicable to series and data frames

0    1
1    4
2    9
dtype: int64

In [55]:
# Checking null values
s=pd.Series(np.array([1,2,3,np.NAN,4,5]))
print(s.isnull())
print(s.fillna(0))
print(s.dropna())

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool
0    1.0
1    2.0
2    3.0
3    0.0
4    4.0
5    5.0
dtype: float64
0    1.0
1    2.0
2    3.0
4    4.0
5    5.0
dtype: float64

In [58]:
#string operations
s1=pd.Series(["apple","banana",'Orange',"Water Melon","Papapya"])
print(s1.str.upper())
print(s1.str.replace("banana","Musk melon"))
print(s1.str.contains("a"))

0          APPLE
1         BANANA
2         ORANGE
3    WATER MELON
4        PAPAPYA
dtype: object
0          apple
1     Musk melon
2         Orange
3    Water Melon
4        Papapya
dtype: object
0    True
1    True
2    True
3    True
4    True
dtype: bool

In [69]:
#Conversions series to other types
series.to_numpy()
series.tolist()
series.to_json()

'{"a":0.4925296906,"b":0.490575049,"c":0.7767824494,"d":0.1755836491,"e":0.9977783273,"f":0.4803513831,"g":0.471598614,"h":0.3191623428,"i":0.5966597247,"j":0.4669928005}'

In [83]:
# Checking Uniqueness
print(series.value_counts())
print(series.nunique())
print(series.is_unique)

0.492530    1
0.490575    1
0.776782    1
0.175584    1
0.997778    1
0.480351    1
0.471599    1
0.319162    1
0.596660    1
0.466993    1
dtype: int64
10
True

10
True

In [88]:
#merging two series
s=series1.append(series2,ignore_index=True)
s

C:\Users\godul\AppData\Local\Temp\ipykernel_5720\1220611511.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s=series1.append(series2,ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64